.styloEducacion{
    width: 100%;
    align-items: center;
    display: flex;
    margin: 0 auto;
}



.styloEducacion .manejoImagenes img {
    display: flex;
    width: 200px;
    height: auto;
    background-color:#212026;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    position: relative;
    border-radius: 25%;
}

.styloEducacion .manejoImagenes :hover img {
    background-color:#4729de;
    transition: all 0.5s ease-in-out;
}