.styloEducacion{
    width: 100%;
    display: flex;
    flex-direction:row;
}



.styloEducacion .manejoImagenes img {
    /* display: flex; */
    width: 120px;
    height: auto;
    background-color:#212026;
    overflow:scroll;
    padding: 10px;
    margin: 10px;
    position: relative;
    border-radius: 25%;
    transition: background-color .3s ease-in-out;
}

.styloEducacion .manejoImagenes img:hover  {
    background-color:#4729de;
    transform: scale(1.1);
    
}