.capa_uno{
  display: flexbox;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-top: #EDEAE6 solid 10px;
  color: beige;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.capa_uno img {
  width: 60px;
  height: 60px;
  border-radius: 15%;
}