#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}


.generalApp{
  background-color: #c9c5c6;
  display:flex; /* Utiliza un contenedor flexible para distribuir los elementos horizontalmente */ 
}



.generalApp .ladoDerecho{
  margin-left:auto;
  background-color: #ffffff;
  width:70%;
  padding-left: 5%;
  padding-right: 5%;
}

.generalApp .ladoIzquierdo {
  position: fixed;
  width: 20%;
  display: flex;
  justify-content: center;

}