#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}


.generalApp{
  background-color: #5B5859;
  display:flex; /* Utiliza un contenedor flexible para distribuir los elementos horizontalmente */
  
}



.generalApp .ladoDerecho{
  width: 80%;
  margin-right: 5%;
  margin-left: 25%;
  top: 0;
  right: 0;
}

.generalApp .ladoIzquierdo {
  position: fixed;
  width: 20%;
  display: flex;
  justify-content: center;

}